# Ignore Python environments
ai_env/
venv/
env/
*.exe

# Ignore model checkpoints (any folder or file with 'checkpoint' in its name)
trainedModel/checkpoint*/
trainedModel/finalModel

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore large data/model files
*.pth
*.pt
*.onnx
*.h5
